@import "../../../styles/variables.scss";

.container {
  max-width: calc(100vw - 400px);
  padding: 20px;

  .header {
    position: fixed;
    top: 60px;
    left: 400px;
    width: calc(100vw - 400px);
    border-bottom: 2px solid #e0f4ff;
    border-left: 2px solid #e0f4ff;
    padding: 10px 10px;
    background-color: #f2f9ff;
    z-index: 100;
    font-size: 12px;
  }
}
