@import '../../styles/variables.scss';

.message {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .messageAvatar {
    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }
  
  .messageContent {
    flex: 1;
  }
  
  .messageSender {
    display: block;
    font-weight: 600;
    color: $primary-color;
    margin-bottom: 4px;
    font-size: large;
  }
  
  .messageText {
    color: #374151;
    margin: 0;
    line-height: 1.5;
  }
  